$bg-light : #F0EDE8;
$main-pink : #F72360;
$dark-pink : #AB0736;
$main-blue : #0AC0F7;
$dark-blue : #3391AD;
$main-yellow : #F7EA3B;

body {
  background-color: $bg-light;
  a:hover {
    color: $main-blue;
  }
} 

header {
  background-color: $main-pink;
  color: #fff;
}

.card {
  background-color: #fff;
  border-radius: 35rem;
  padding: 5rem;
  margin: 5rem;
}

.pagination {
  .pagination_list {
    display: none;
  }
  width: 100%;
  display: flex;
  justify-content: center;
  nav {
    padding: 3rem;
    a, span {
      font-size: x-large;
      padding: 1rem;
      margin: 1rem;
      svg {
        width: 40px;
      }
    }
  }
}

footer {
  background-color: #F72360;
}

